.carousel-control-prev-icon,
.carousel-control-next-icon {
  height: 70px;
  width: 70px;
  outline: black;
  margin-top: 5%;
  background-size: 100%, 100%;
  border-radius: 50%;
  border: 2px solid black;
  background-image: none;
}

.carousel-control-next,
.carousel-control-prev {
  height: 20%;
  margin-top: 25%;
}

.carousel-control-next-icon:after {
  content: '>';
  font-size: 40px;
  color: white;
}

.carousel-control-prev-icon:after {
  content: '<';
  font-size: 40px;
  color: white;
}

.nav-item a::before,
.nav-item a::after {
  display: inline-block;
  opacity: 0;
  -webkit-transition: -webkit-transform 0.3s, opacity 0.2s;
  -moz-transition: -moz-transform 0.3s, opacity 0.2s;
  transition: transform 0.3s, opacity 0.2s;
}

.nav-item a::before {
  margin-right: 10px;
  content: '[';
  -webkit-transform: translateX(20px);
  -moz-transform: translateX(20px);
  transform: translateX(20px);
}

.nav-item a::after {
  margin-left: 10px;
  content: ']';
  -webkit-transform: translateX(-20px);
  -moz-transform: translateX(-20px);
  transform: translateX(-20px);
}

.nav-item a:hover::before,
.nav-item a:hover::after,
.nav-item a:focus::before,
.nav-item a:focus::after {
  opacity: 1;
  -webkit-transform: translateX(0px);
  -moz-transform: translateX(0px);
  transform: translateX(0px);
}

body {
  font-family: serif,cursive;
}
